# 01) IMPORT RAW DATA

In [1]:
import math
import pandas as pd
import scipy.stats as stats
import statsmodels.formula.api as sm

In [2]:
# lookup table: NAWQA Wall-to-Wall Anthropogenic Landuse Trends (NWALT) fields (from http://bit.ly/F7XW4J1JDataset8)
strNWALT = 'F7XW4J1J (Anthropogenic Influences)/NWALT.csv'

In [3]:
# import lookup table
dfNWALT = pd.read_csv(strNWALT)

In [4]:
# define paths to source files (from http://bit.ly/F7XW4J1JDataset8)
strLand = 'F7XW4J1J (Anthropogenic Influences)/Land Use Change, 1982-2012.csv'
strPH = 'Change in Mean pH Levels 82-12.csv'

In [5]:
# import data
dfLand = pd.read_csv(strLand)
dfPH = pd.read_csv(strPH)

In [6]:
# describe Land dataframe
dfLand.describe()

,GEOID5,Chg-Water,Chg-Wetlands,Chg-Dev-Trans,Chg-Dev-CommSvcs,Chg-Dev-IndMil,Chg-Dev-Recr,Chg-Dev-ResHi,Chg-Dev-ResLoMed,Chg-Dev-Other,...,Chg-SemiDev-UrbIntLoMed,Chg-SemiDev-Other,Chg-Mining,Chg-Crops,Chg-Pasture,Chg-Grazing1,Chg-Grazing2,Chg-LowUse,Chg-VeryLowUse,Chg-Unknown
count,3109.000000,3109.000000,3109.0,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,...,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.0
mean,30678.541975,0.038112,0.0,0.114130,0.193654,0.092461,0.091560,0.331492,0.645954,-0.180167,...,2.178604,-0.004397,0.029781,-0.311618,-0.806739,0.043628,0.000495,-2.627533,0.336131,0.0
std,14986.022374,0.205478,0.0,0.227155,0.602751,0.213809,0.216703,1.260709,1.635504,0.403690,...,4.839980,0.015414,0.140768,1.795365,1.852995,0.305452,0.626873,5.785244,2.096985,0.0
min,1001.000000,-0.100000,0.0,0.000000,0.000000,-1.360000,0.000000,-0.200000,-8.650000,-4.180000,...,-24.290000,-0.250000,-1.270000,-14.710000,-12.280000,-3.570000,-11.410000,-59.600000,-0.010000,0.0
25%,19045.000000,0.000000,0.0,0.030000,0.010000,0.000000,0.000000,0.000000,0.010000,-0.200000,...,0.000000,0.000000,0.000000,-0.890000,-1.500000,-0.010000,-0.030000,-3.320000,0.000000,0.0
50%,29213.000000,0.000000,0.0,0.060000,0.030000,0.020000,0.020000,0.010000,0.090000,0.000000,...,0.110000,0.000000,0.000000,-0.080000,-0.410000,0.010000,0.000000,-0.870000,0.000000,0.0
75%,46009.000000,0.010000,0.0,0.130000,0.120000,0.080000,0.080000,0.100000,0.570000,0.020000,...,2.010000,0.000000,0.020000,0.460000,0.000000,0.090000,0.090000,0.000000,0.000000,0.0
max,56045.000000,5.500000,0.0,7.120000,16.120000,2.510000,3.520000,31.960000,25.780000,0.860000,...,57.840000,0.120000,2.570000,7.320000,10.070000,2.850000,3.080000,9.160000,56.350000,0.0

In [7]:
# describe pH dataframe
dfPH.describe()

          FIPS Code  1982 Mean pH Value  2012 Mean pH Value
count   1450.000000         1450.000000         1450.000000
mean   29619.763448            7.471949            7.664822
std    17328.743233            0.792767            0.838485
min     1001.000000            2.200000            3.927763
25%    17008.000000            7.154911            7.350229
50%    29106.000000            7.600000            7.755990
75%    42033.500000            7.914815            8.054307
max    72151.000000           21.162361           30.345930

# 02) REFORMAT DATA

In [8]:
# rename dfLand's "GEOID5" col for merging
dictCol = {'GEOID5':'FIPS Code'}
for col in dfLand.filter(regex='Chg').columns:
    dictCol[col]=col.replace('-','') 
dfLand = dfLand.rename(columns=dictCol)
dfLand.describe()

,FIPS Code,ChgWater,ChgWetlands,ChgDevTrans,ChgDevCommSvcs,ChgDevIndMil,ChgDevRecr,ChgDevResHi,ChgDevResLoMed,ChgDevOther,...,ChgSemiDevUrbIntLoMed,ChgSemiDevOther,ChgMining,ChgCrops,ChgPasture,ChgGrazing1,ChgGrazing2,ChgLowUse,ChgVeryLowUse,ChgUnknown
count,3109.000000,3109.000000,3109.0,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,...,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.0
mean,30678.541975,0.038112,0.0,0.114130,0.193654,0.092461,0.091560,0.331492,0.645954,-0.180167,...,2.178604,-0.004397,0.029781,-0.311618,-0.806739,0.043628,0.000495,-2.627533,0.336131,0.0
std,14986.022374,0.205478,0.0,0.227155,0.602751,0.213809,0.216703,1.260709,1.635504,0.403690,...,4.839980,0.015414,0.140768,1.795365,1.852995,0.305452,0.626873,5.785244,2.096985,0.0
min,1001.000000,-0.100000,0.0,0.000000,0.000000,-1.360000,0.000000,-0.200000,-8.650000,-4.180000,...,-24.290000,-0.250000,-1.270000,-14.710000,-12.280000,-3.570000,-11.410000,-59.600000,-0.010000,0.0
25%,19045.000000,0.000000,0.0,0.030000,0.010000,0.000000,0.000000,0.000000,0.010000,-0.200000,...,0.000000,0.000000,0.000000,-0.890000,-1.500000,-0.010000,-0.030000,-3.320000,0.000000,0.0
50%,29213.000000,0.000000,0.0,0.060000,0.030000,0.020000,0.020000,0.010000,0.090000,0.000000,...,0.110000,0.000000,0.000000,-0.080000,-0.410000,0.010000,0.000000,-0.870000,0.000000,0.0
75%,46009.000000,0.010000,0.0,0.130000,0.120000,0.080000,0.080000,0.100000,0.570000,0.020000,...,2.010000,0.000000,0.020000,0.460000,0.000000,0.090000,0.090000,0.000000,0.000000,0.0
max,56045.000000,5.500000,0.0,7.120000,16.120000,2.510000,3.520000,31.960000,25.780000,0.860000,...,57.840000,0.120000,2.570000,7.320000,10.070000,2.850000,3.080000,9.160000,56.350000,0.0

In [9]:
# create numeric "pH Improvement" column
dfPH['ChgPHQual'] = abs(7.25 - dfPH['1982 Mean pH Value']) - abs(7.25 - dfPH['2012 Mean pH Value'])
dfPH.describe()

          FIPS Code  1982 Mean pH Value  2012 Mean pH Value    ChgPHQual
count   1450.000000         1450.000000         1450.000000  1450.000000
mean   29619.763448            7.471949            7.664822    -0.037192
std    17328.743233            0.792767            0.838485     0.902607
min     1001.000000            2.200000            3.927763   -22.908430
25%    17008.000000            7.154911            7.350229    -0.354405
50%    29106.000000            7.600000            7.755990    -0.055739
75%    42033.500000            7.914815            8.054307     0.229425
max    72151.000000           21.162361           30.345930    13.731488

In [10]:
# describe new dataframe
dfMrg = pd.merge(dfLand, dfPH, on='FIPS Code')
dfMrg.describe()

,FIPS Code,ChgWater,ChgWetlands,ChgDevTrans,ChgDevCommSvcs,ChgDevIndMil,ChgDevRecr,ChgDevResHi,ChgDevResLoMed,ChgDevOther,...,ChgCrops,ChgPasture,ChgGrazing1,ChgGrazing2,ChgLowUse,ChgVeryLowUse,ChgUnknown,1982 Mean pH Value,2012 Mean pH Value,ChgPHQual
count,1390.000000,1390.000000,1390.0,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,...,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.0,1390.000000,1390.000000,1390.000000
mean,28470.271223,0.042727,0.0,0.119165,0.217683,0.104245,0.111698,0.400360,0.806885,-0.194698,...,-0.413043,-0.847014,0.051489,-0.010007,-2.995583,0.507791,0.0,7.464941,7.647349,-0.018752
std,15694.842378,0.222042,0.0,0.234975,0.515088,0.206504,0.236787,1.153719,1.795725,0.411671,...,1.791740,1.744780,0.271467,0.627258,6.032287,2.766590,0.0,0.804258,0.596387,0.683955
min,1001.000000,-0.070000,0.0,0.000000,0.000000,0.000000,0.000000,-0.200000,-4.110000,-4.180000,...,-10.520000,-12.280000,-3.570000,-9.870000,-56.420000,-0.010000,0.0,2.200000,3.927763,-1.697755
25%,17004.000000,0.000000,0.0,0.030000,0.010000,0.000000,0.000000,0.000000,0.010000,-0.230000,...,-0.990000,-1.480000,-0.010000,-0.040000,-3.807500,0.000000,0.0,7.139174,7.338573,-0.360890
50%,29022.000000,0.000000,0.0,0.070000,0.040000,0.020000,0.020000,0.010000,0.110000,-0.010000,...,-0.120000,-0.405000,0.010000,0.000000,-1.080000,0.000000,0.0,7.600000,7.756498,-0.054157
75%,40116.500000,0.020000,0.0,0.140000,0.170000,0.107500,0.100000,0.160000,0.767500,0.010000,...,0.320000,0.010000,0.090000,0.080000,-0.092500,0.000000,0.0,7.915506,8.061421,0.237573
max,56041.000000,5.500000,0.0,7.120000,6.940000,1.880000,2.610000,10.210000,25.780000,0.530000,...,7.320000,6.990000,2.740000,2.670000,7.660000,56.350000,0.0,21.162361,9.029167,13.731488

# 03) COMPUTE LAND USE-TO-pH CORRELATIONS

In [11]:
# create format strings to prettify output
strFmt = '{:,.3f}'
strFmtSignSpc = '{:+1,.3f}'
strFmtSpc = '{: ,.3f}'
# compute regressions against each var
for col in dfMrg.filter(regex='Chg').columns:
    slope, intercept, r_value, p_value, std_err=stats.linregress(dfMrg[col], dfMrg['ChgPHQual'])
    strMX = f'{strFmtSpc.format(slope)} Ã— {col.ljust(21)}'
    strB = f'{strFmtSignSpc.format(intercept)}'
    strPAndR2 = f'P = {strFmt.format(p_value)}, RÂ² = {strFmtSignSpc.format(r_value**2)}'
    if not math.isnan(slope):
        print(f'ChgPHQual = {strB} + {strMX} | {strPAndR2}')

ChgPHQual = -0.020 +  0.033 Ã— ChgWater              | P = 0.689, RÂ² = +0.000
ChgPHQual = -0.032 +  0.114 Ã— ChgDevTrans           | P = 0.143, RÂ² = +0.002
ChgPHQual = -0.037 +  0.085 Ã— ChgDevCommSvcs        | P = 0.018, RÂ² = +0.004
ChgPHQual = -0.039 +  0.191 Ã— ChgDevIndMil          | P = 0.031, RÂ² = +0.003
ChgPHQual = -0.042 +  0.205 Ã— ChgDevRecr            | P = 0.008, RÂ² = +0.005
ChgPHQual = -0.047 +  0.071 Ã— ChgDevResHi           | P = 0.000, RÂ² = +0.014
ChgPHQual = -0.033 +  0.018 Ã— ChgDevResLoMed        | P = 0.078, RÂ² = +0.002
ChgPHQual = -0.049 + -0.158 Ã— ChgDevOther           | P = 0.000, RÂ² = +0.009
ChgPHQual = -0.034 + -0.069 Ã— ChgSemiDevUrbIntHi    | P = 0.005, RÂ² = +0.006
ChgPHQual = -0.045 +  0.012 Ã— ChgSemiDevUrbIntLoMed | P = 0.002, RÂ² = +0.007
ChgPHQual = -0.026 + -1.488 Ã— ChgSemiDevOther       | P = 0.220, RÂ² = +0.001
ChgPHQual = -0.022 +  0.103 Ã— ChgMining             | P = 0.514, RÂ² = +0.000
ChgPHQual = -0.031 + -0.029 Ã— ChgCrops              | P = 0.004, RÂ² = +0.006
ChgPHQual = -0.003 +  0.018 Ã— ChgPasture            | P = 0.081, RÂ² = +0.002
ChgPHQual = -0.013 + -0.105 Ã— ChgGrazing1           | P = 0.119, RÂ² = +0.002
ChgPHQual = -0.019 + -0.069 Ã— ChgGrazing2           | P = 0.018, RÂ² = +0.004
ChgPHQual = -0.059 + -0.013 Ã— ChgLowUse             | P = 0.000, RÂ² = +0.014
ChgPHQual = -0.029 +  0.020 Ã— ChgVeryLowUse         | P = 0.003, RÂ² = +0.007
ChgPHQual = +0.000 +  1.000 Ã— ChgPHQual             | P = 0.000, RÂ² = +1.000

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_mstats_common.py:116: RuntimeWarning: invalid value encountered in double_scalars
  slope = r_num / ssxm
C:\Anaconda3\lib\site-packages\scipy\stats\_stats_mstats_common.py:128: RuntimeWarning: divide by zero encountered in double_scalars
  sterrest = np.sqrt((1 - r**2) * ssym / ssxm / df)

In [12]:
result = sm.ols(formula='ChgPHQual ~ ChgWater + ChgDevTrans + ChgDevCommSvcs + ChgDevIndMil + ChgDevRecr + ChgDevResHi + ChgDevResLoMed + ChgDevOther + ChgSemiDevUrbIntHi + ChgSemiDevUrbIntLoMed + ChgSemiDevOther + ChgMining + ChgCrops + ChgPasture + ChgGrazing1 + ChgGrazing2 + ChgLowUse + ChgVeryLowUse', data=dfMrg).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              ChgPHQual   R-squared:                       0.046
Model:                            OLS   Adj. R-squared:                  0.034
Method:                 Least Squares   F-statistic:                     3.705
Date:                Wed, 03 Jul 2019   Prob (F-statistic):           2.57e-07
Time:                        23:13:03   Log-Likelihood:                -1410.8
No. Observations:                1390   AIC:                             2860.
Df Residuals:                    1371   BIC:                             2959.
Df Model:                          18
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                -0.0519      0.024     -2.162      0.031      -0.099      -0.005
ChgWater                  0.3646      1.133      0.322      0.748      -1.859       2.588
ChgDevTrans               0.3947      1.133      0.348      0.728      -1.828       2.617
ChgDevCommSvcs           -0.0095      1.139     -0.008      0.993      -2.243       2.224
ChgDevIndMil              0.1870      1.141      0.164      0.870      -2.052       2.426
ChgDevRecr                0.2498      1.138      0.220      0.826      -1.982       2.481
ChgDevResHi               0.5398      1.132      0.477      0.634      -1.682       2.761
ChgDevResLoMed            0.3890      1.131      0.344      0.731      -1.830       2.608
ChgDevOther               0.3056      1.134      0.270      0.788      -1.919       2.530
ChgSemiDevUrbIntHi        0.3221      1.132      0.284      0.776      -1.899       2.543
ChgSemiDevUrbIntLoMed     0.3534      1.130      0.313      0.755      -1.864       2.571
ChgSemiDevOther           0.5631      1.676      0.336      0.737      -2.726       3.852
ChgMining                 0.4286      1.139      0.376      0.707      -1.807       2.664
ChgCrops                  0.3273      1.131      0.289      0.772      -1.892       2.546
ChgPasture                0.3864      1.131      0.342      0.733      -1.832       2.604
ChgGrazing1               0.4043      1.137      0.356      0.722      -1.825       2.634
ChgGrazing2               0.3315      1.129      0.294      0.769      -1.883       2.546
ChgLowUse                 0.3454      1.131      0.305      0.760      -1.873       2.563
ChgVeryLowUse             0.3639      1.131      0.322      0.748      -1.854       2.582
==============================================================================
Omnibus:                     1750.310   Durbin-Watson:                   1.874
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           615595.189
Skew:                           6.242   Prob(JB):                         0.00
Kurtosis:                     105.338   Cond. No.                     2.25e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.25e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# 04) MAP pH BY COUNTY

In [13]:
# import plotly and set credentials
from PlotlyConfig import un, pkey 
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.io as pio
import numpy as np
plotly.tools.set_credentials_file(username=un, api_key=pkey)

In [14]:
def MakeCtyFig(strVal, strTitle='Water Quality', strLegend='', fRound=False, fBin=True, strFIPS='FIPS Code', df=dfPH):
    # create lists of parameter values
    lstFIPS = df[strFIPS].tolist()
    lstVal = df[strVal].tolist()
    if fRound:
        lstVal = [round(val, 2) for val in lstVal]
    lstColor = ['#FF0040','#FF0000','#FF2800','#FF5000','#FF7800', \
                '#FFa000','#FFc800','#FFf000','#b0ff00','#17ff00', \
                '#00ff83','#00e4ff','#00a4ff','#0064ff','#0022ff', \
                '#0100ff','#0500ff'] # 13-color ROYGB
    intColor = len(lstColor)
    intBinSize = 1 / (intColor + 1) * 100
    lstBin = list(np.linspace(np.percentile(lstVal, intBinSize), \
                              np.percentile(lstVal, 100 - intBinSize), \
                              intColor - 1))
    # set fig variable
    if fBin:
        fig = ff.create_choropleth(
            fips=lstFIPS, values=lstVal,
            binning_endpoints=lstBin,
            colorscale=lstColor,
            show_state_data=False,
            show_hover=True, centroid_marker={'opacity': 0},
            asp=2.9, title=strTitle,
            legend_title=strLegend
        )
    else:
        fig = ff.create_choropleth(
            fips=lstFIPS, values=lstVal,
            title=strTitle,
            legend_title=strLegend
        )
        
    return fig

In [15]:
fig = MakeCtyFig('ChgPHQual', 'Progress toward Ideal pH (7.25), 1982-2012', 'Net pH Improvement', True)
py.iplot(fig, filename='choropleth_full_usa')

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.


C:\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [16]:
pio.write_image(fig, 'Station_List/pH by County 1982-2012.png')

# 05) CREATE WATER QUALITY FUNCTION

### Water Quality Index computed using http://www.pathfinderscience.net/stream/forms/WQI_worksheet.pdf

In [17]:
# create Dictionaries to compute "Q-Values" according to http://www.pathfinderscience.net/stream/cproto4.cfm
# http://www.pathfinderscience.net/stream/forms/WQI_FC.pdf : convert Fecal Coliform to Q-value
dictFC2Q = {1:97, 2:90, 5:81, 10:72, 20:62, 50:55, 100:46, 200:37, 500:27, \
            1000:22, 2000:18, 5000:15, 10000:9, 20000:7, 50000:5, 100000:4}
# http://www.pathfinderscience.net/stream/forms/WQI_pH.pdf : convert pH to Q-value   
dictPH2Q = {2:0, 3:4, 4:9, 5:28, 6:55, 7:89, 7.5:93, 8:85, 9:49, 10:20, 11:7, 12:2}
# http://www.pathfinderscience.net/stream/forms/WQI_Turb.pdf : convert Turbidity to Q-value
dictTurb2Q = {0:98, 10:77, 20:61, 30:53, 40:46, 50:38, 60:34, 70:29, 80:25, 90:21, 100:17}
# http://www.pathfinderscience.net/stream/forms/WQI_worksheet.pdf : establish weights for each Q-value
intWtFC = 16  # fecal coliform weight
intWtPH = 11  # pH weight
intWtTurb = 8 # turbidity weight

In [18]:
# define function that computes approximate Q-values
def EstimateQ(fltArg, dictLkp):
    # create dataframe for Arg, the argument we want to convert to a Q-value
    dfArg = pd.DataFrame(columns=['Arg'])
    dfArg['Arg'] = dfArg['Arg'].astype(float)
    dfArg.loc[0, 'Arg'] = fltArg
    # create dataframe for the dictionary we're going to look Arg up in
    dfLkp = pd.DataFrame.from_dict(dictLkp, orient='index', columns=['Q'])
    dfLkp = dfLkp.reset_index()
    dfLkp = dfLkp.rename(columns={'index':'Arg'})
    dfLkp['Arg']=dfLkp['Arg'].astype(float)
    dfLkp['OrigArg'] = dfLkp['Arg']
    # use merge_asof() with 'backward' param to find the low lookup value
    dfLkpLo = pd.merge_asof(dfArg, dfLkp, on='Arg', direction='backward')
    fltArgLo = dfLkpLo.loc[0,'OrigArg']
    fltQLo = dfLkpLo.loc[0,'Q']
    # use merge_asof() with 'forward' param to find the high lookup value
    dfLkpHi = pd.merge_asof(dfArg, dfLkp, on='Arg', direction='forward')
    fltArgHi = dfLkpHi.loc[0,'OrigArg']
    fltQHi = dfLkpHi.loc[0,'Q']
    # determine Q-value
    if fltArg == fltArgHi:
        fltQ = fltQHi
    elif fltArg == fltArgLo:
        fltQ = fltQLo
    else: # compute weighted Q-value between high and low lookups
        fltQ = ((fltArgHi - fltArg) * fltQLo + (fltArg - fltArgLo) * fltQHi) / (fltArgHi - fltArgLo)
    return fltQ

In [30]:
# test the EstimateQ function. In the Fecal Coliform dictionary, an FC of 300 should 
# apply .67 weight to FC=200's Q-value of 37 and apply .33 weight to FC=500's Q-value of 27.
EstimateQ(300, dictFC2Q)

33.666666666666664

# 06) MAP 2012 WATER QUALITY BY COUNTY

In [20]:
# create path to WQ2012 file
strWQ2012 = '2012_Water_Quality_df.csv'

In [21]:
# import WQ2012 file
dfWQ2012 = pd.read_csv(strWQ2012)

In [22]:
# list WQ2002 cols
dfWQ2012.columns

Index(['StateCode', 'CountyCode', 'FIPS Code', 'Mean Temperature (c)',
       'Mean_pH', 'Mean Turbidity', 'Mean Fecal Coliform', 'Mean Flow'],
      dtype='object')

In [23]:
# peek at WQ2012
dfWQ2012.head()

,StateCode,CountyCode,FIPS Code,Mean Temperature (c),Mean_pH,Mean Turbidity,Mean Fecal Coliform,Mean Flow
0,1,1,01001,18.7,6.1,6.3,NaN,27.9
1,1,3,01003,23.9,6.6,9.4,49.7,199.2
2,1,5,01005,25.9,8.2,5.5,NaN,5.7
3,1,7,01007,20.4,7.1,45.4,NaN,319.4
4,1,9,01009,22.2,7.7,4.6,NaN,48.8

In [24]:
# describe WQ2012
dfWQ2012.describe()

,StateCode,Mean Temperature (c),Mean_pH,Mean Turbidity,Mean Fecal Coliform,Mean Flow
count,2473.000000,2472.000000,2405.000000,1954.000000,875.000000,647.000000
mean,30.999596,18.400594,7.612724,40.211975,1331.586008,1068.262092
std,16.115745,10.311329,1.952590,524.886579,9732.030159,3944.226718
min,1.000000,1.000000,-42.200000,-1.186389,1.000000,0.000000
25%,19.000000,14.100000,7.300000,4.100000,61.550000,8.056299
50%,30.000000,17.500000,7.700000,9.700000,184.700000,48.800000
75%,45.000000,21.200000,8.077500,22.600000,411.600000,333.900000
max,78.000000,393.400000,42.500000,21849.300000,206073.200000,32492.800000

In [25]:
# drop bad rows
dfWQ2012 = dfWQ2012.loc[dfWQ2012['CountyCode'] != '(blank)']

In [26]:
# change FIPS Code to float
dfWQ2012['FIPS Code'] = dfWQ2012['FIPS Code'].astype('float')

In [27]:
# merge WQ2012 into dfMrg and describe
dfMrg = pd.merge(dfMrg, dfWQ2012, on='FIPS Code')
dfMrg.describe()

,FIPS Code,ChgWater,ChgWetlands,ChgDevTrans,ChgDevCommSvcs,ChgDevIndMil,ChgDevRecr,ChgDevResHi,ChgDevResLoMed,ChgDevOther,...,ChgUnknown,1982 Mean pH Value,2012 Mean pH Value,ChgPHQual,StateCode,Mean Temperature (c),Mean_pH,Mean Turbidity,Mean Fecal Coliform,Mean Flow
count,1383.000000,1383.000000,1383.0,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,...,1383.0,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1381.000000,1139.000000,473.000000,389.000000
mean,28504.710051,0.042943,0.0,0.119371,0.218561,0.104584,0.112097,0.401894,0.809826,-0.195539,...,0.0,7.463679,7.646847,-0.018034,28.422270,18.490657,7.593572,55.385495,998.135108,1318.000544
std,15705.619165,0.222583,0.0,0.235494,0.516224,0.206909,0.237317,1.156310,1.799667,0.412512,...,0.0,0.805655,0.596695,0.685416,15.703277,12.151875,2.080515,686.663569,8243.502513,4317.170326
min,1001.000000,-0.070000,0.0,0.000000,0.000000,0.000000,0.000000,-0.200000,-4.110000,-4.180000,...,0.0,2.200000,3.927763,-1.697755,1.000000,4.800000,-42.200000,0.100000,1.000000,0.000000
25%,17005.000000,0.000000,0.0,0.030000,0.010000,0.000000,0.000000,0.000000,0.010000,-0.230000,...,0.0,7.135793,7.338021,-0.360871,17.000000,14.200000,7.300000,4.400000,51.300000,9.100000
50%,29041.000000,0.000000,0.0,0.070000,0.040000,0.020000,0.020000,0.010000,0.110000,-0.010000,...,0.0,7.600000,7.756329,-0.051746,29.000000,17.500000,7.800000,10.400000,179.800000,59.700000
75%,40118.000000,0.020000,0.0,0.140000,0.175000,0.110000,0.100000,0.165000,0.775000,0.010000,...,0.0,7.914631,8.062101,0.238556,40.000000,21.100000,8.100000,25.000000,412.400000,389.100000
max,56041.000000,5.500000,0.0,7.120000,6.940000,1.880000,2.610000,10.210000,25.780000,0.530000,...,0.0,21.162361,9.029167,13.731488,56.000000,393.400000,26.000000,21849.300000,170000.000000,31844.400000